body{   
    background: rgb(211, 211, 211);  
  
   
}  
#frm{  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid rgb(63, 63, 63) 0px;  
    width:25%;  
    align-content: center;
    border-radius: 20px;  
    margin: 120px auto;  
    background: rgb(255, 255, 255);  
   
    padding: 50px;  
} 
.frm:hover{
    border: #337ab7;
} 
#btn{  
    color: #fff;  
    background: #1c53e7;  
    padding: 7px;  
    margin-left: 0%; 
    border-radius: 5px; 
}
.input-group{
    text-align: center;
}
.box{
        width: 240px;
        height: 40px;
        border-radius: 10px;
        padding-left: 10px;
        opacity: 50%;

}
.box:hover{
    box-shadow: #303030 1px 1px 1px 1px;
    opacity: 100%;

}

.a:hover{
    background:#ed6b4d ;
    
}

